@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

html, body {
  color: $light-text;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.5em;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin: 0 $base-padding $base-padding 0;
}

.topBar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $top-bar-height;
  background-color: $top-bar-color;
  padding: 0 $base-padding 3px $base-padding;
}