@import '../../variables.scss';

.inspectorBase {
  height: calc(100vh - #{$top-bar-height});
  overflow-y: scroll;
  color: $light-text;
  background-color: $inspector-base-color;
  width: $inspector-width;
  box-sizing: border-box;
  
  h3 {
    font-size: 0.8em;
    margin-top: 0;
  }

  .placeholderText {
    font-style: italic;
    font-weight: 300;
  }
}

.attributeInspector {
  padding: $base-padding;
  border-bottom: 2px solid $tree-background-color;

  table {
    text-align: left;
    width: 100%;
  }

  ul {
    margin: 0;
  }

  .addAttributeWrapper {
    display: flex;
    justify-content: space-between;
    margin: $base-padding * 2 0 $base-padding 0;
  }

  .addEnumWrapper {
    display: flex;
    justify-content: space-between;

    .innerEnumWrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.childElementInspector {
  padding: $base-padding;

  table {
    text-align: left;
    width: 100%;
  }

  .addChildWrapper {
    margin: $base-padding * 2 0 $base-padding 0;
  }
}